:root {  
  
  --dark-gray: rgb(35,34,39);
  --gray: #6b7280;
  --light-gray: #f5f5f5;

  --gray20: rgb(28,28,44);
  --gray40: rgb(45,45,58);
  --gray60: rgb(85,85,97);
  --gray80: rgb(91,91,102);
  --gray100: rgb(107,107,109);
  --gray120: rgb(202,202,204);
  --gray140: rgb(227,227,230);
  --gray160: rgb(243,243,244);

  --integer: hsl(99, 18%, 40%);
  --real: hsl(300, 15%, 46%);
  --blob: hsl(15, 31%, 45%);
  --text: hsl(200, 40%, 43%);
  --null: hsl(215, 13%, 34%);
  --integer-light: hsla(99, 18%, 40%, .5);
  --real-light: hsla(300, 15%, 46%, .5);
  --blob-light: hsla(15, 31%, 45%, .5);
  --text-light: hsla(200, 40%, 43%, .5);
  --null-light: hsla(215, 13%, 34%, .5);

  --background: var(--gray20);
  --text-color: var(--gray160);

  --editor-background: var(--gray40);
  --schema-background: var(--gray160);
  --schema-text-color: var(--gray40);
  --schema-text-color-accent: var(--gray60);
  --schema-borders-outer: var(--gray120);
  --schema-borders-inner: var(--gray140);


}
html,
body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 12px;
}

table {
  border: 1px solid var(--gray);
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

thead { 
  border-bottom: 1px solid black;
  vertical-align: bottom;
}

tr,
th,
td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
div > pre code.hljs {
  height: 100%;
}
