.container {
  display: flex;
  flex-direction: column;
  height: 100cqh;
  width: 100cqw;
  background: var(--gray20);
  color: var(--gray80);
}

.top {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
}

.section {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  flex-grow: 2;
}


.error {
  display: block;
  background-color: pink;
}
